body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: lavenderblush;
  }
  
  h1 {
    color: #b83232;
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-bottom: 1px solid #000918;
    text-align: center;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  .job-title {
    color: #ff00dd;
    font-weight: bold;
  }
  
  a:link,
  a:visited {
    text-align: none;
    transition: all 0.3s ease;
    color: #fb7642;
  }
  
  a:hover {
    text-decoration: underline solid #ce7373 2px;
  color: #7a3700;
  }
  